.activeUser {
	font-size: 25px;
	font-weight: bold;
	color: rgb(86, 112, 190);
}

.btnLogout {
	margin-left: 20px;
	padding: 5px 20px 5px 20px;
	font-size: 15px;
	letter-spacing: 2px;
	border: none;
	border-radius: 15px;
	background-color: rgb(132, 80, 59);
	color: white;
	box-shadow: 0 0 5px black;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.btnLogout:hover {
	background-color: rgb(176, 86, 51);
	box-shadow: 0 0 15px rgb(176, 86, 51);
}

